In [2]:
#Q1:
import pandas as pd

In [3]:
vendas_frutas = pd.Series([3.60,4.50,4.00,5.00,6.50], index=['banana', 'maça', 'laranja', 'caqui', 'melancia'])
vendas_frutas

banana      3.6
maça        4.5
laranja     4.0
caqui       5.0
melancia    6.5
dtype: float64

In [7]:
vendas_frutas[2]

4.0

In [8]:
vendas_frutas.max()

6.5

In [9]:
vendas_frutas.min()

3.6

In [15]:
#Q2:

dados_dos_carros = {
    'Carros':['Pagani', 'Ferrari Roma', 'Porsche 911', 'Lamborghini Aventador'],
    'Ano':[2025, 2024, 2023, 2012],
    'Preço':[12900000, 25000000, 868000, 4000000],
    'IPVA':[12900000 * 4/100, 25000000 * 4/100, 868000 * 4/100, 4000000 * 4/100]
}

df =pd.DataFrame(dados_dos_carros)
df

                  Carros   Ano     Preço       IPVA
0                 Pagani  2025  12900000   516000.0
1           Ferrari Roma  2024  25000000  1000000.0
2            Porsche 911  2023    868000    34720.0
3  Lamborghini Aventador  2012   4000000   160000.0

In [18]:
df[df["Preço"] > 50000]

                  Carros   Ano     Preço       IPVA
0                 Pagani  2025  12900000   516000.0
1           Ferrari Roma  2024  25000000  1000000.0
2            Porsche 911  2023    868000    34720.0
3  Lamborghini Aventador  2012   4000000   160000.0